body{
    background-color: black;
}

h1{
    color: aliceblue;
    font-size: 20px;
    margin-left: 42%;
    margin-top: 40px;
    margin-bottom: 0%;
}
table{
    border: 1px solid rgb(241, 219, 219);
    padding: auto;
   margin-top: 30px;
   margin-left: 600px;
   margin-right: 40px;
   position: sticky;
  
}
input{
    margin: auto;
    padding: 10px;
}

/* td{
    margin: 5px;
    padding: 5px;
} */
button{
    padding: 10px;
    margin: 2px;
    width: 40px;
}
